<div class="container-fluid my-3">
  <a routerLink="/" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">1. Student List</a>
  <a routerLink="/employeelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">2. Employee List</a>
  <a routerLink="/fruitlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">3. Fruit List</a>
  <a routerLink="/courselist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">4. Course List</a>
  <a routerLink="/booklist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">5. Book List</a>
  <a routerLink="/citylist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">6. City List</a>
  <a routerLink="/movielist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">7. Movie List</a>
  <a routerLink="/carmodellist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">8. Car Model List</a>
  <a routerLink="/productlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">9. Product List</a>
  <a routerLink="/subjectlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">10. Subject List</a>
  <a routerLink="/countrylist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">11. Country List</a>
  <a routerLink="/sportslist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">12. Sports List</a>
  <a routerLink="/vegetablelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">13. Vegetable List</a>
  <a routerLink="/animallist" class="btn gray-button minimalist-button" style="margin-top: 5px; margin-left: 5px">14. Animal List</a>
  <a routerLink="/toollist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">15. Tool List</a>
  <a routerLink="/languagelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">16. Language List</a>
  <a routerLink="/gamelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">17. Game List</a>
  <a routerLink="/softwarelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">18. Software List</a>
  <a routerLink="/phonecontactlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">19. Phone Contact List</a>
  <a routerLink="/musicplaylist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">20. Music Playlist</a>
  <a routerLink="/foodmenu" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">21. Food Menu</a>
  <a routerLink="/grocerylist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">22. Grocery List</a>
  <a routerLink="/classroomlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">23. Classroom List</a>
  <a routerLink="/inventorylist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">24. Inventory List</a>
  <a routerLink="/lecturelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">25. Lecture List</a>
  <a routerLink="/stationerylist" class="btn gray-button minimalist-button" style="margin-top: 5px; margin-left: 5px">26. Stationery List</a>
  <a routerLink="/flowerlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">27. Flower List</a>
  <a routerLink="/destinationlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">28. Destination List</a>
  <a routerLink="/laptoplist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">29. Laptop List</a>
  <a routerLink="/laptopspecificationslist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">30. Laptop Specifications List</a>
  <a routerLink="/computerhardwarelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">31. Computer Hardware List</a>
  <a routerLink="/mobileapplist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">32. Mobile App List</a>
  <a routerLink="/videolist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">33. Video List</a>
  <a routerLink="/tvshowlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">34. TV Show List</a>
  <a routerLink="/furniturelist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">35. Furniture List</a>
  <a routerLink="/accessorylist" class="btn gray-button minimalist-button" style="margin-top: 5px; margin-left: 5px">36. Accessory List</a>
  <a routerLink="/buildinglist" class="btn gray-button minimalist-button" style="margin-top: 5px; margin-left: 5px">37. Building List</a>
  <a routerLink="/paintinglist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">38. Painting List</a>
  <a routerLink="/artistlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">39. Artist List</a>
  <a routerLink="/composerlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">40. Composer List</a>
  <a routerLink="/podcastlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">41. Podcast List</a>
  <a routerLink="/exerciselist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">42. Exercise List</a>
  <a routerLink="/mealplanlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">43. Meal Plan List</a>
  <a routerLink="/budgetlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">44. Budget List</a>
  <a routerLink="/presentationlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">45. Presentation List</a>
  <a routerLink="/tourlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">46. Tour List</a>
  <a routerLink="/eventlist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">47. Event List</a>
  <a routerLink="/developertoolslist" class="btn gray-button minimalist-button" style="margin-top: 5px; margin-left: 5px">48. Developer Tools List</a>
  <a routerLink="/frameworklist" class="btn gray-button minimalist-button" style="margin-top: 5px; margin-left: 5px">49. Framework List</a>
  <a routerLink="/librarylist" class="btn gray-button minimalist-button" style="margin-left: 5px; margin-top: 5px">50. Library List</a>

</div>

<router-outlet></router-outlet>
