<div class="container-fluid my-3">
  <div class="container-fluid my-3">
    <a routerLink="/" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Student List</a>
    <a routerLink="/employeelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Employee List</a>
    <a routerLink="/fruitlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Fruit List</a>
    <a routerLink="/courselist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Course List</a>
    <a routerLink="/booklist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Book List</a>
    <a routerLink="/citylist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">City List</a>
    <a routerLink="/movielist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Movie List</a>
    <a routerLink="/carmodellist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Car Model List</a>
    <a routerLink="/productlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Product List</a>
    <a routerLink="/subjectlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Subject List</a>
    <a routerLink="/countrylist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Country List</a>
    <a routerLink="/sportslist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Sports List</a>
    <a routerLink="/vegetablelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Vegetable List</a>
    <a routerLink="/animallist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">Animal List</a>
    <a routerLink="/toollist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Tool List</a>
    <a routerLink="/languagelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Language List</a>
    <a routerLink="/gamelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Game List</a>
    <a routerLink="/softwarelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Software List</a>
    <a routerLink="/phonecontactlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Phone Contact List</a>
    <a routerLink="/musicplaylist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Music Playlist</a>
    <a routerLink="/foodmenu" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Food Menu</a>
    <a routerLink="/grocerylist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Grocery List</a>
    <a routerLink="/classroomlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Classroom List</a>
    <a routerLink="/inventorylist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Inventory List</a>
    <a routerLink="/lecturelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Lecture List</a>
    <a routerLink="/stationerylist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">Stationery List</a>
    <a routerLink="/flowerlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Flower List</a>
    <a routerLink="/destinationlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Destination List</a>
    <a routerLink="/laptoplist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Laptop List</a>
    <a routerLink="/laptopspecificationslist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Laptop Specifications List</a>
    <a routerLink="/computerhardwarelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Computer Hardware List</a>
    <a routerLink="/mobileapplist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Mobile App List</a>
    <a routerLink="/videolist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Video List</a>
    <a routerLink="/tvshowlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">TV Show List</a>
    <a routerLink="/furniturelist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Furniture List</a>
    <a routerLink="/accessorylist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">Accessory List</a>
    <a routerLink="/buildinglist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">Building List</a>
    <a routerLink="/paintinglist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Painting List</a>
    <a routerLink="/artistlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Artist List</a>
    <a routerLink="/composerlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Composer List</a>
    <a routerLink="/podcastlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Podcast List</a>
    <a routerLink="/exerciselist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Exercise List</a>
    <a routerLink="/mealplanlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Meal Plan List</a>
    <a routerLink="/budgetlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Budget List</a>
    <a routerLink="/presentationlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Presentation List</a>
    <a routerLink="/tourlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Tour List</a>
    <a routerLink="/eventlist" class="btn gray-button minimalist-button custom-button" style="margin-left: 5px; margin-top: 5px">Event List</a>
    <a routerLink="/developertoolslist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">Developer Tools List</a>
    <a routerLink="/frameworklist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">Framework List</a>
    <a routerLink="/librarylist" class="btn gray-button minimalist-button custom-button" style="margin-top: 5px; margin-left: 5px">library list</a>
    

</div>

<router-outlet></router-outlet>
